@model OneTimeSecret_Clone.Models.secretTable
@{
    ViewBag.Title = "Home Page";
    var a = ("http://localhost:49737/Home/ShowSecret/"+Model.hash).ToString();
}

<main>
    <div class="input-group mb-3">
        <div class="col-xl-12">
           @Html.TextBox("URL", @a)
        </div>
    </div>
</main>