

<html>
<head>
    <title>Secreto no encontrado</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .jumbotron {
            background-color: #f8f9fa;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .jumbotron h1 {
                font-size: 10vw;
                text-align: center;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron">
                <h1>Secreto no encontrado</h1>
            </div>
        </div>
    </div>
</body>
</html>
