@model OneTimeSecret_Clone.Models.secretTable
@{
    ViewBag.Title = "Home Page";
    var a = Model.secret;
}

<main>
    <div class="input-group mb-3">
        <div class="col-xl-12">
            @Html.TextBox("URL", @a)
        </div>
    </div>
</main>